./**
!./**/
!./*/.gitkeep
homerun/

# Arch box
.bluetoothctl_history
.gsd-keyboard.settings-ported
1000/
1Password/
BraveSoftware/
Clementine/
Code - OSS/
Code/
CuteMupen/
Electron/
GIMP/
GNOME-xdg-terminals.list
Joplin/
Keybase/
Kitware/
Mullvad VPN/
Pinta/
Proton AG/
QtProject.conf
Rygel/
Signal/
Thunar/
Trolltech.conf
Trolltech/
Unknown Organization/
aerc/
anjuta/
aseprite/
autostart/
balena-etcher-electron/
blender/
builtin.zig
cef_user_data/
celluloid/
chromium/
clangd/
coc/
conda/
configstore/
dconf/
debuginfod_client/
discord/
dleyna-renderer-service.conf
dleyna-server-service.conf
docker/
dolphin-emu/
electron-builder/
electron/
enchant/
eog/
evolution/
fontconfig/
gedit/
glade.conf
gnome-control-center/
gnome-initial-setup-done
go-build/
goa-1.0/
godot/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gstreamer-1.0/
gtk-2.0/
gtk-3.0/
helm/
heroku/
hexchat/
htop/
ibus/
irb/
jedi/
joplin-desktop/
journal/
js-v8flags/
kak-lsp/
kak/plugins/
kdeglobals
keepassxc/
keybase/
kicad/
konsolerc
libreoffice/
matplotlib/
menus/
microsoft-edge-dev/
mimeapps.list
monitors.xml
monitors.xml~
mono.addins/
ms-playwright/
mupen64plus/
mutt/
nautilus/
neofetch/
nix/
node-gyp/
nvidia/
nvim/
obsidian/
pacman/
pip/
plotman/
prezto/
protonmail/
pulse-sms/
pulse.old/
pulse/
qBittorrent/
rover/
rygel.conf
rygel/
session/
sorbet/
spotify/
totem/
user-dirs.dirs
user-dirs.locale
user-share/
visidata/
vivaldi-snapshot/
vivaldi/
xdg-terminals.list
xfce4/
xournalpp/
xsel.log
yarn/
yay/
yelp/
zig/
zls.json
zls/

# MBP
GNS3/
Unreal Engine/
asciinema/
configstore/
gocode/
gtk-2.0/
htop/
iterm2/
joplin-desktop/
learnyounode/
liteide/
menus/
nvim
pragmater/
wireshark/
workshopper/
yarn/

# Updater MBP
502/
AWSVPNClient/
ctrlp/
gh/
op/
typescript/
weechat/
zed/
